---
import Loading from "@/components/common/Loading.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import Navigation from "@/components/layout/Navigation.astro";
import Theme from "@/components/Theme.astro";
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Whis' Blog</title>

    <Theme />
  </head>
  <body
    class='dark:bg-gray-900 dark:text-gray-200 bg-gray-100 text-gray-900 flex flex-col min-h-screen bg-gray-50 text-gray-900 grid grid-cols-[320px_calc(100%-320px)] grid-rows-[52px_calc(100%-104px)_52px]'
  >
    <Header title="Whis' Blog" />
    <Navigation />

    <main class='col-span-1 row-span-1'>
      <slot>
        <Loading fullSize />
      </slot>
    </main>

    <Footer title='Copyright 2024. Whis. All rights reserved.' />
  </body>
</html>
